<style>
    #hiddenViewNode {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    #mapViewNode {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span>Welcome to Dynamic Code Compliance Tool</span>
    <div class="spacer"></div>
</div>
<div class="content" role="main"></div>
<mat-card>
    <mat-card-title>App for engaging a map</mat-card-title>
    <mat-card-content>
        <button mat-button color="primary" (click)="openDialog()">
            Open the map dialog
        </button>
        <div [hidden]="!selectedZoneByMap">
            <p>
                Here is the zone that you selected
            </p>
            <h3>{{ selectedZoneByMap }}</h3>
        </div>
    </mat-card-content>
</mat-card>
<hr />
<mat-card>
    <mat-card-title>App for searching an address</mat-card-title>
    <mat-card-content>
        <form
            [formGroup]="addressSearchFG"
            style="min-width: 150px;
                   max-width: 500px;
                   width: 100%;"
        >
            <mat-form-field style="width: 100%;">
                <input
                    type="text"
                    placeholder="Search for your address"
                    aria-label="search address"
                    matInput
                    formControlName="searchControl"
                    [matAutocomplete]="suggestionAuto"
                />
            </mat-form-field>
            <mat-autocomplete
                autoActiveFirstOption
                #suggestionAuto="matAutocomplete"
                style="width: 100%;"
                [displayWith]="displayFn.bind(this)"
            >
                <mat-option
                    *ngFor="let suggestion of suggestionList"
                    [value]="suggestion?.magicKey"
                >
                    {{ suggestion.text }}
                </mat-option>
            </mat-autocomplete>
        </form>
        <div [hidden]="!selectedZonebyLookup">
            <p>
                Here is the zone that you selected
            </p>
            <h3>{{ selectedZonebyLookup }}</h3>
        </div>
    </mat-card-content>
</mat-card>
<div id="hiddenViewNode" #hiddenViewNode style="height: 5px; width: 5px;"></div>
<router-outlet></router-outlet>
